@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css";
@import "https://use.fontawesome.com/releases/v5.1.0/css/all.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


/* 
 * SPECIAL CARDS
 */

 .card-special * {
    -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease;
 }

.card-special {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
            transition: -webkit-box-shadow .25s;
                    transition: box-shadow .25s;
                    transition: box-shadow .25s, 
                        -webkit-box-shadow .25s;
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-special .card-image{
    max-height: 60%;
    overflow: hidden;
}

.card-special .card-image img{
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.card-special:hover .card-image img{
    opacity: 0.7;
}

/* 
 * This shows a full card cover 
 * at the bottom of the card
 *
 */

.hover-cover-1{
    position: absolute;
    background-color: black;
    width: 0%;
    color: #fff;
    border-radius: 2px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0.5;
}

.card-special .hover-cover-1 h5,
.card-special .hover-cover-1 p{
    /* display: block; */
}

.card-special:hover .hover-cover-1{
    width: 100%;
}




/* 
 * This shows a small cover at the
 * bottom of the card
 *
 */

.hover-cover-2{
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 0%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.7s ease;
}

.card-special:hover .hover-cover-2{
    height: 50px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-special .hover-cover-icons{
    /* position: absolute; */
    /* left: 50px; */
    /* right: 50px; */
    /* bottom: -55px; */
    /* opacity: 0; */
    -webkit-transform: translateY(0);
            transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-special:hover .hover-cover-icons{
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
    opacity: 1;
}

.card-special .hover-cover-icons a{
    color: inherit;
}

.card-special .hover-cover-icons i{
    background-color: white;
    line-height: 15px;
    padding: 15px;
    margin-right: 5px;
}

.card-special .hover-cover-icons i:hover{
    background-color: black;
    color: #fff;
}




/* 
 * FLIP CARD
 */

.flip-container {
    position: relative;
    -webkit-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
}

.flip-container .card-special{
    transform-style: preserve-3d;
    transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
                    -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.flip-container .card-special div{
    -webkit-font-smoothing: antialiased;
}

.flip-container .card-special .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container .card-special.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
