<!DOCTYPE html>
<html style="background-color: #0d47a1;">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Cards</title>

        <link rel="stylesheet" type="text/css" media="screen" href="cards.css" />
    </head>
<body>
    <div class="container">
        <div class="flip-container">
            <div class="card-special">
                <div class="front">
                    <p>That</p>
                </div>
    
                <div class="back">
                    <p>This</p>
                </div>        
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="cards.js"></script>
</body>
</html>