{% extends "accounts/profile.html" %}
{% block profil_content %}
{% load widget_tweaks %}
    <div class="card">
        <div class="card-body">
            <h4>Paramètres du compte<br /></h4>
            <hr />
            <form id="profile-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {% for field in form %}
                        <div class="form-group">
                            {{ field|attr:"class:form-control" }}
                        </div>
                    {% endfor %}
                    <button class="btn btn-primary float-xl-right" type="submit">Modifier</button>
                </div>
            </form>
        </div>
    </div>
{% endblock profil_content %}