{% extends "base.html" %}
{% block hero %}

    <header>

        <section class="section push-top-2">
                <div class="row">
                    <div class="col s12 m4 l4 x4 offset-s0 offset-l4">
                        <div class="card">
                            <div class="card-content">
                                <form id="registration-form" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% block registration_form %}

                                    {% endblock registration_form %}
                                    <button type="submit" class="btn-large waves-effect" id="btn-registration">{{ form_button_registration }}</button>
                                </form>
                            </div>
                        </div>
                        {% if request.path == '/forgot-password/' %}
                            <p class="white-text" id="login-text">I remember my <a href="{% url 'login' %}" class="bold-text-1">password now</a></p>
                        {% elif request.path == '/login/' %}
                            <p id="forgot-password-text">Forgot your password? <a href="{% url 'forgot' %}" class="bold-text-1">Send yourself a new one</a></p>
                            <p id="new-account-text">Don't have an account? <a href="{% url 'signup_learner' %}" class="bold-text-1">Get yours now</a></p>
                        {% else %}
                            <p class="" id="login-text">Registered with us already? <a href="{% url 'login' %}" class="bold-text-1">Login here</a></p>
                        {% endif %}
                    </div>
                </div>
        </section>

    </header>

{% endblock hero %}
