{% extends "accounts/base_accounts.html" %}
{% block title %}S'enregistrer | Kurrikulam{% endblock title %}

{% block form_fields %}
    <div class="form-group">
        <input class="form-control" type="text" name="nom" placeholder="Nom..." />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="prenom" placeholder="Prenom..." />
    </div>
    <div class="form-group">
        <input class="form-control" type="email" name="email" placeholder="Email..." />
    </div>
    <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Mot de passe..." />
    </div>
{% endblock form_fields %}