{% extends "base_registrations.html" %}
{% load i18n %}
{% block title %}{% trans 'Créer un compte' %} | Kurrikulam{% endblock title %}

{% block form_fields %}
    {% for field in form %}
        <div class="input-field">
            {{ field }}
        </div>
    {% endfor %}
    <p class="acceptation-cgu">
        <label>
            <input type="checkbox" class="filled-in">
            <span>Vous consentez à suivre nos <a href="{% url 'cgu' %}">CGU</a></span>
        </label>
    </p>
{% endblock form_fields %}