<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'learner' %}">Brand</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item" role="profile">
                        <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                    </li>
                    <li class="nav-item" role="logout">
                        <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item" role="login">
                        <a class="nav-link" href="{% url 'login' %}">Connexion</a>
                    </li>
                    <li class="nav-item" role="signup">
                        <a class="nav-link" href="{% url 'signup' %}">S'enregistrer</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>