@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css";
@import "https://use.fontawesome.com/releases/v5.1.0/css/all.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

div.blog{
    
}

div.blog-header{
    background-color: #283593;
    /* color: #ffffff; */
    padding: 24px;
    width: 100%;
    height: 200px;
}

div.blog-header h1,
div.blog-header h2,
div.blog-header h3,
div.blog-header h4,
div.blog-header h5{
    margin-top: 0px;
}

div.blog-header .content-container{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.content-container:first{

}

.content-container h1:not('.content-title h1'),
.content-container h2:not('.content-title h2'),
.content-container h3:not('.content-title h3'),
.content-container h4:not('.content-title h4'),
.content-container h5:not('.content-title h5'){
    margin-bottom: 54px;
}

@media only screen and (min-width: 601px) {
    div.blog-header .content-container {
        width: 85%;
    }
}
  
@media only screen and (min-width: 993px) {
    div.blog-header .content-container {
        width: 70%;
    }
}

.content{
    background-color: #ffffff;
    padding: 24px;
    margin-bottom: 15px;
    max-height: 100%;
    overflow: hidden;
    border-radius: 0 0 2px 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.content:hover{
    
}

.content .content-title h1,
.content .content-title h2,
.content .content-title h3,
.content .content-title h4,
.content .content-title h5{
    color: #283593;
    font-weight: 600;
    display: block;
}

.content .content-title h1 a,
.content .content-title h2 a,
.content .content-title h3 a,
.content .content-title h4 a,
.content .content-title h5 a{
    color: inherit;
    font-weight: 600;
}

.content p.content-date,
.content p.content-author{
    color:#757575;
    font-size:14px;
    margin: 5px 0px 0px 0px;
}

.content p.content-author{
    margin-top:10px;
}

.blog .content-text{
    color:#757575;
    margin-top:20px;
    margin-bottom: 24px;
    font-size:15px;
    line-height:22px;
}

.blog .content-social{
    background-color: inherit;
    color: #1a237e;
    margin-top:25px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    position: relative;
    padding: 16px 24px;
}

.blog .content-social i{
    font-size: 20px;
    transition: color 0.7s ease;
}

.blog .content-social i:hover{
    color: #7986cb;
}

.blog .content-social i:not(:first-child){
    margin-left: 10px;
}

.author-details{
    position: absolute;
    height: 180px;
    width: 300px;
    padding: 14px;
    background-color: #ffffff;
    color: #1a237e;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    top: 100px;
    left: 400px;
    z-index: 9999;
    display: none;
    transition: all 1s ease-in-out;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.author-details.show{
    display: inline-block;
}