<!DOCTYPE html>
<html lang="fr">
    <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
            <title>Blog</title>
    
            <link rel="stylesheet" type="text/css" media="screen" href="blog.css" />
        </head>
    </head>
    <body>

        <!-- START Blog -->
        <div class="blog">
            <div class="blog-header">
                <div class="content-container">
                    <h2>Page for single posts</h2>

                    <div class="content">
                        <div class="content-title">
                            <h5><a href="#!">Just a blog post</a></h5>
                        </div>
                        <p class="content-author">
                            John PENDENQUE
                            <div class="author-details">
                                <p>John PENDENQUE</p>
                            </div>
                        </p>

                        <p class="content-date">26 October, 2014</p>
                        <div class="content-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Donec ut libero sed arcu vehicula ultricies a non tortor. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. 
                            <br />
                            Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci.
                        </div>

                        <p class="content-tags">
                            <div class="chip">Fashion</div>
                            <div class="chip">Kendall Jenner</div>
                            <div class="chip">Influencers</div>
                        </p>
                    </div>

                    <div class="blog-post-responses">
                        <p class="responses">Responses</p>
                        <div class="card-panel"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Blog -->

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="blog.js"></script>
    </body>
</html>