<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="buttons.css">
    <title>Document</title>
</head>
    <body>
        <div class="container">
            <div class="increment-buttons">
                <div class="input-item">
                    <input type="text" name="quantity" id="quantity" class="increment-buttons-container">
                </div>
                <div class="input-buttons">
                    <button class="up"><i class="material-icons">keyboard_arrow_up</i></button>
                    <button class="down"><i class="material-icons">keyboard_arrow_down</i></button>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="buttons.js"></script>
        <script>('p').quantity()</script>
    </body>
</html>