{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}{% endblock %}</title>
        
        {% block extrastyle %}{% endblock %}
            {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
            {% block extrahead %}{% endblock %}
            {% block responsive %}
                <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">

                <!-- Materialize -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
                <!-- Google Icon Font-->
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <!-- Fontawesome -->
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
                
                {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
            {% endblock %}
        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
    </head>

    {% load i18n %}

    <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
        {% block nav-global %}{% endblock %}

        {% if not is_popup %}
            <!-- Header -->
            <header class="teal darken-3 white-text">
                <div class="container">
                    <div class="row" style="padding:1rem;">
                        <div class="col">
                            {% block usertools %}
                                {% if has_permission %}
                                    <div id="user-tools">
                                        {% block welcome-msg %}
                                            {% trans 'Welcome,' %}
                                            <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                                        {% endblock %}
                                        
                                        <!--USER LINKS-->
                                    </div>
                                {% endif %}
                            {% endblock %}
                        </div>
                        <div class="col s12 l4">
                                {% block breadcrumbs %}
                                <div class="breadcrumb">
                                    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                                    {% if title %} &rsaquo; {{ title }}{% endif %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                    <!-- END Header -->
                </div>
            </header>
        {% endif %}
        
        <section class="section">
            <!-- Container -->
            <div class="container">
                {% block messages %}
                    {% if messages %}
                        <ul class="messagelist">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock messages %}
    
                <!-- Content -->
                <div class="row">
                    <div class="col s12 l8 x8">
                        {% block pretitle %}{% endblock %}
                        
                        {% block content_title %}
                            {% if title %}
                                <h4>{{ title }}</h4>
                            {% endif %}
                        {% endblock %}  
                        
                        {% block content %}
                            {% block object-tools %}{% endblock %}
                            {{ content }}
                        {% endblock %}
                    </div>
            
                    <div class="col s12 l4 x4" id="sidebar">
                        {% block sidebar %}{% endblock %}
                    </div>
                    <br class="clear">
                </div>
                <!-- END Content -->
    
                {% block footer %}
                    <div id="footer"></div>
                {% endblock %}
            </div>
            <!-- END Container -->
        </section>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <!-- Google charts -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            $(document).ready(function() {
                $(".dropdown-trigger").dropdown();
            })
        </script>
    </body>
</html>