<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
    <body>
        <button id="button_id">Press</button>

        <p class="test">Test</p>
        <span id="test"></span>

        <form id="a">
            <input type="text" name="test" id="test">
            <button type="submit">Press</button>
        </form>

        <form id="b">
            <button type="submit">Press</button>
        </form>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="base.js">
        $('.test').greenify();
    </script>
</html>