/*******************
  Hero
*******************/

header.hero, 
div.hero, 
section.hero {
    height: 100vh !important;
    background-color: #1565c0;
    text-align: center;
    color: white;
}

header.hero-image, 
div.hero-image, 
section.hero-image {
    height: 100vh !important;
    background-image: url('https://s3.eu-west-3.amazonaws.com/jobswebsite/media/hero/hero6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

/*******************
  Container
*******************/

.hero .hero-wraper,
.hero-image .hero-wraper {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

/*******************
  Call to action
*******************/

.hero .call-to-action,
.hero-image .call-to-action {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 12.5%;
}

.call-to-action span.lead {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 1.250rem;
}

.call-to-action span.lead-stronger {
    display: block;
    font-size: 4rem;
    font-weight: 600;
    margin-top: 1.250rem;
}

span.lead .upper,
span.lead-stronger .upper {
    text-transform: uppercase;
}

.call-to-action span.lead-subtitle {
    font-size: 2.8rem;
    margin-top: 1.250rem;
    margin-bottom: 2.75rem;
}

.call-to-action .lead-button {
    display: block;
    text-align: center;
    margin-top: 10px;
}

/*******************
   Media Queries
*******************/

@media only screen and (min-width: 601px) {
    .hero-wraper {
        width: 85%;
    }
}
  
@media only screen and (min-width: 993px) {
    .hero-wraper {
        width: 70%;
    }
}

/* ???????
.hero .call-to-action:after,
.hero-image .call-to-action:after {
    content: "";
    display: table;
    clear: both;
} */



/* @media only screen and (min-width: 601px) {
    .call-to-action .lead-stronger {
        
    }
}
  
@media only screen and (min-width: 993px) {
    .call-to-action .lead-stronger {
        width: 70%;
    }
} */



/*******************
  USER DEFINED
*******************/

.section#hero-overview row col {
    border: 1px solid #e6e6e6;
}

.section#hero-overview row col {
    border: 1px solid #e6e6e6;
}

#hero-overview-block span:first-child {
    font-family: Poppins-Bold;
    font-size: 28px;
    line-height: 1.1;
}