<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Cards</title>

        <link rel="stylesheet" type="text/css" media="screen" href="hero.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="nav.css" />
    </head>
<body>

    <!-- Hero and Nav -->
    <div class="hero-image">
        <div class="navbar-fixed">
            <nav class="transparent">
                <div class="nav-wrapper">
                    <div class="container">
                        <!-- <a href="#" class="brand-logo">Logo</a> -->
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="sass.html">Sass</a></li>
                            <li><a href="badges.html">Components</a></li>
                            <li><a href="collapsible.html">JavaScript</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-wraper">
            <div class="call-to-action">
                <span class="lead-stronger">We are heroes</span>
                <span class="lead-subtitle">
                    You can press something here
                </span>
                <div class="lead-button">
                    <button class="btn-large">Press</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Hero and Nav -->

    <main>
        <section class="section">
            <div class="container center">
                <h2>Put things here</h2>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="nav.js"></script>
</body>
</html>